@import "tailwindcss";
@config "../tailwind.config.js";
@import "@fontsource/lato";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Poppins", serif;
  font-weight: 200;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  padding: 0 6%;
}
.neon {
  text-shadow: 0 0 5px #3ec1c9, 0 0 10px #3ec1c9;
}
.radial-gradient {
  background-image: radial-gradient(
    farthest-corner at 0px 0px,
    #142731 0%,
    #1a3d47 50%,
    #142731 100%
  );
}
